#imgcard{
       
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: color 0.20s;
 
    
}




h5{
    text-align: center;
    
}

h1 {
    background-color: whitesmoke;
    transition: color 0.20s;
}

h1:hover {
    color: blueviolet;
    text-decoration: underline;

}

p{
    background-color: whitesmoke;
    transition: color 0.20s;
}
p:hover {
    color: blue;
    text-decoration: underline;
}